{% extends 'template.html.twig' %}

{% block title %}Vos comptes{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="my-5 text-center">Vos comptes</h1>
        <div class="row">
            {% for account in accounts %}
            {# {% if is_granted('IS_AUTHENTICATED_FULLY') %} #}
                <div class="col-12 col-sm-10 col-md-6 col-lg-4 mb-5">
                    <div class="card text-center">
                        <section class="card-body">
                            <h5 class="card-title">Type de compte : {{account.accountType}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Numéro de compte : {{account.accountNumber}}</h6>
                            <h6 class="card-subtitle mb-2">Montant du compte :
                            {% if account.AccountAmount > 0 %}
                                <span class="text-success"> + {{account.AccountAmount}} €</span>
                            {% else %}
                                <span class="text-danger"> - {{account.AccountAmount}} €</span>
                            {% endif %}
                            </h6>
                            <hr>
                            {# <ul class="list-group list-group-flush">
                                <li class="list-group-item">Nom & Prénom</li>
                            </ul> #}
                            <a href="#" class="btn btn-primary">Dépot/Retrait</a>
                            <a href="#" class="btn btn-primary">Virement</a>
                            <a href="#" class="btn btn-primary">Cloturer</a>
                            
                            <a href="{{path('single_account', {id:account.id})}}">Voir le compte</a>
                        </section>
                    </div> 
                </div>
            {# {% endif %} #}
            {% endfor %}
        </div>
    </div>
{% endblock %}
